<%= render "layouts/header" %>
<main class="link-main">
   <% @links.each do |link| %>
   <div class="box" style="border: solid 2px">
      <ul>
         <li><a href="<%= link.url %>"><%= link.title %></a></li>
         <li><%= link.body %></li>
          <%= tag.color %>
         <li class="delete"> <%= link_to "削除", link_path(link),  method: :delete ,data: { confirm: "本当に消しますか？" },style:"font-size:10px; color:red;"%></li>
      </ul>
   </div>
   <% end %>
</main>