<header class="container-fluid bg-light w-100">
    <div class="row">
        <div class="header col-5">
          <%= link_to link_path(current_user.id)  do %>
          <%= image_tag 'pelinkcan.png' %>
          <% end %>
        </div>
        <div class="header col-4">
          <%= link_to new_link_path do %>
          <button type="button" class="btn btn-info">リンク作成</button>
        </div>
          <%end%>
        <div class="header col-1">
          <%= link_to user_path(current_user),style:"color:grey;" do%>
            <i class="far fa-user"></i> User
          <%end%>
        </div>
        <div class="header col-2">
          <%= link_to destroy_user_session_path,style:"color:grey;", method: :delete do %>
             <i class="fas fa-sign-out-alt"></i>LogOut
          <%end%>
        </div>
    </div>
</header>